@page "/Games"
@using ComputerService.Database
@using ComputerService.Models
@inject GamerContext ef
@rendermode InteractiveServer

<h3>Game</h3>
<EditForm FormName="formAddItem" Model="_game" OnValidSubmit="@Submit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <p>Название игры</p>
    <input type="text" @bind-value="_game.NameGame"/>
    <p>Цена игры</p>
    <input type="text" @bind-value="_game.Price"/>
    <button type="submit">ДОБАВИТЬ ИГРУ</button>
</EditForm>

<table class="tab">
    @foreach (var item in ef.Games.Where(x => x.Price >=10).ToList())
    {
        <tr>
            <td class="tab-td">@item.NameGame</td>
            <td class="tab-td">@item.Price</td>
        </tr>
    }
</table>
@foreach (var item in ef.Games.ToList())
{
    <a href="@($"/GameEdit/{item.Id}")"> @item.NameGame</a>
}
@code {
    public Game _game = new Game();

    private void Submit(EditContext args)
    {
        ef.Add(_game);
        ef.SaveChanges();
        _game = new Game();
    }

}